<h4>Bienvenido: {{email}}</h4><p>Rol: {{rol}}</p><h3><a href="/api/sessions/logout">Cerrar sesión</a></h3>
<div class="infoProd">
    <h1>Lista de Productos</h1>
    <div class="detalleProd">
        <div class="product-container">
            {{#each products}}
            <div class="product">
                <h2>{{this.description}}</h2>
                <p>Precio: ${{this.price}}</p>
                <a href="/api/prods/{{this._id}}">Ver Detalle</a>
                <button>Agregar al Carrito</button>
            </div>
            {{/each}}
        </div>
    </div>
</div>